{% extends 'project/base.html' %}
{% block content %}
	<div style="width: 100%; height: 96%;position: absolute; top:4%;right:0px; background:rgb(40,40,40);overflow:hidden;">
		<div id="map" style="height:98% !important;"></div>
	</div>
{% endblock %}
{% block js %}
<script src="/static/js/index.js"></script>
<script src="/static/js/markerclusterer.js"></script>
<script src="/static/js/complaintclusterer.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs9LO2I1FriDFB7m2u_ft5LC35h9Mxq_0&callback=initMap">
</script>

{% endblock %}