{% extends 'project/base.html' %}
{% block content %}
<div style="width: 100%;">
   <div style="float:left; width: 80%">
   	<p>THIS SHIT</p>
   </div>
   <div style="float:right;">
   	<p>THIS SHIT</p>
   </div>
</div>
<div style="clear:both"></div>
{% endblock %}
{% block js %}
<script src="/static/js/index.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs9LO2I1FriDFB7m2u_ft5LC35h9Mxq_0&callback=initMap">
</script>
<script src="/static/js/geolocation.js"></script>
{% endblock %}