{% extends 'project/base.html' %}
{% block content %}
<div id="map"></div>

{% include "project/modalComplaintTaxi.html" %}
{% include "project/modalComplaintMetro.html" %}
{% include "project/modalComplaintBusRural.html" %}
{% include "project/modalComplaintBusTransantiago.html" %}

{% endblock %}
{% block js %}
<script src="/static/js/index.js"></script>
<script src="/static/js/markerclusterer.js"></script>
<script src="/static/js/complaintclusterer.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs9LO2I1FriDFB7m2u_ft5LC35h9Mxq_0&callback=initMap">
</script>
{% endblock %}