{% extends 'project/base.html' %}
{% block content %}
<div style="background:rgb(40,40,40);">
	<div class="form-content center-block">
		<h1 style="text-align:center;">Complaint!</h1>
		<form method="post" action="" enctype="multipart/form-data">
			{% csrf_token %}
			<input id="lat" name="lat" type="hidden">
			<input id="long" name="long" type="hidden">
			<div class="form-group">
				<div class="row">
					<label for="name">Line - Number - Code
						<input required class="form-control" type="text" name="name" placeholder="Example: 3333">
					</label>
				</div>
				<div class="row">
					<label for="patent">License Plate (optional)
						<input class="form-control" type="text" name="patent" placeholder="Ejemplo:LLNNNN - LLLLNN">
					</label>
				</div>
				<div class="row">
					<label for="typecomplaint">Type of complaint
						<select required name="typecomplaint" class="form-control">
						{% for type in complainttypes %}
							<option title="{{type.description}}" value="{{type.pk}}">{{type.name}}</option>
						{% endfor %}
					</select>
					</label>
				</div>
				<div class="row">
					<label for="description">Description (optional)
						<textarea class="form-control" type="text" name="description" placeholder="Example: This happen while i was going to work..."></textarea>
					</label>
				</div>
				<br>
				<br>
				<input class="btn-primary btn" style="margin:0 auto;" type="submit" value="Send complaint"/>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/index.js"></script>
<script src="/static/js/complaintclusterer.js"></script>
<script src="/static/js/geolocation.js"></script>
<script>
var pos = getLocation();
$('#lat').val(pos.lat);
$('#long').val(pos.lng);
</script>
{% endblock %}