#hola{
	font-size: 50px;
	color: red;
}

form {
	padding: 0 0;
	margin: 0 0;
	color: rgb(240,240,240);
}

.form-content{
	width:600px;
	min-width: 300px;
	box-shadow: 0px -1px 300px 0px rgba(50, 50, 50, 0.75);
	border-radius: 10px;
	margin: 0 auto;
	background: rgb(70,70,70);
	height: 100%;
	color: rgb(240,240,240);
}

#form-title {
	color: #dedede;
	font-weight: bold;
}

.select-type{
	height: 33.3333%;
	background: rgb(50,50,50);
	font-size:3em;
	text-align: center;
	border-bottom: 1px rgba(220,220,220,0.3) solid;
}
.select-type > h3{
	padding:100px 0 0 0;
	margin:0px;
	color:rgb(220,220,220);
}

.select-type-bus{
	height: 50%;
	background: rgb(50,50,50);
	font-size:3em;
	text-align: center;
	border-bottom: 1px rgba(220,220,220,0.3) solid;
}
.select-type-bus > h3{
	padding:100px 0 0 0;
	margin:0px;
	color:rgb(220,220,220);
}

#map {
    height: 100%;
}

body {
	padding-top: 51px !important;
}

.ui-autocomplete-input {
  border: none; 
  font-size: 14px;
  width: 300px;
  height: 24px;
  margin-bottom: 5px;
  padding-top: 2px;
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
  z-index: 1511;
  position: relative;
}

.ui-autocomplete{
	position: fixed;
}

#codes{
	z-index: 5000;
}