 /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #171717;
    color: #e7e7e7;
    border-bottom: 1px rgb(120,120,120) solid;
}

/* Modal Body */
.modal-body {
    padding: 8px 24px;
    background-color: rgb(70, 70, 70);

}

/* Modal Footer */
.modal-footer {
    border-top: 1px rgb(120,120,120) solid;
    padding: 2px 16px;
    background-color: #171717;
    color: #efefef;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}